<!DOCTYPE html>
<html>
    <head>
        <title>FixCode - Entre para a comunidade para desenvolvedores</title>
        <meta charset="utf-8">
        <title></title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap/css/bootstrap.min.css' %}">

        <!--Estilo próprio -->
        <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}" media="screen" title="no title">
        <link rel="shortcut icon" href="{% static 'core/imagens/favicon.ico' %}" />
        <link rel="icon" href="{% static 'core/imagens/favicon.ico' %}" type="image/x-icon" />
    </head>
        {% block body %}
        {% endblock %}
    
    <script language="javascript" src="{% static 'core/css/bootstrap/js/jquery-3.1.0.min.js' %}"></script>
    <script language="javascript" src="{% static 'core/css/bootstrap/js/bootstrap.min.js' %}"></script>
    
    


</html>
