<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %}{%endblock%}</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap/css/bootstrap.min.css' %}">

        <!--Estilo próprio -->
        <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}" media="screen" title="no title">
        <script language="javascript" src="{% static 'core/css/bootstrap/js/jquery-3.1.0.min.js' %}"></script>   
        <link rel="stylesheet" href="{% static 'core/css/estilohighlight.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/slick/slick-theme.css' %}">
        <script src="{% static 'core/js/highlight.min.js' %}"></script>
        <script src="{% static 'core/js/notify.min.js' %}"></script>

        <script>hljs.initHighlightingOnLoad();</script>
        
    </head>
   
    <body>
    {% if request.user.is_authenticated %}
        <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavBar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static 'core/imagens/logothumb.png' %}" class="navbar-brand" alt="logofix">
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Feedback</a></li>
            
          </ul>

        
        <form class="navbar-form navbar-left" action="" method="post" id="f">
            {% csrf_token %}
            <div class="input-group col-md-12 col-lg-12 col-lg-offset-4">
                <label class="sr-only" for="user">
                    user:
                </label>
                <input type="text" class="form-control" id="pesquisa" placeholder="Procure por usuário, fix, post e etc." name="busca">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="bpesquisa"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
            

          <ul class="nav navbar-nav navbar-right">
             {% block imagemperfil %}
                {% endblock %}
                
            <li class="dropdown">              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{%block user%}{%endblock%}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% block verperfil %}{% endblock %}">Ver perfil</a></li>
                <li><a href="/editprofile/">Editar perfil</a></li>
                <li><a href="/create_fix/">Criar fix</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout_user/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout</a></li>
              </ul>
            </li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% else %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavBar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img src="{% static 'core/imagens/logothumb.png' %}" class="navbar-brand" alt="logofix"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav">
            {% block menu %}
            {% endblock %}
                       
          </ul>

          <ul class="nav navbar-nav navbar-right">
              {% if error_message == false %}
            <li>
                <form class="navbar-form navbar-right col-xs-12" action="{% url 'core:login_user' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="user">
                            user:
                        </label>
                        <input type="text" class="form-control" id="user" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="senha">
                            senha:
                        </label>
                        <input type="password" class="form-control" id="senha" placeholder="Senha" name="senha">
                    </div>
                    <button type="submit" class="btn btn-success btn-sm" id="entrar">Entrar</button>
                </form>
            </li>
            {% else %}
            <p class="navbar-text">Usuário e/ou senha incorreto(s)</p>
            <li>
                <form class="navbar-form navbar-right col-xs-12" action="{% url 'core:login_user' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group has-error">
                        <label class="sr-only" for="user">
                            user:
                        </label>
                        <input type="text" class="form-control" id="user" placeholder="Username" name="username">
                    </div>
                    <div class="form-group has-error">
                        <label class="sr-only" for="senha">
                            senha:
                        </label>
                        <input type="password" class="form-control" id="senha" placeholder="Senha" name="senha">
                    </div>
                    <button type="submit" class="btn btn-success btn-sm" id="entrar">Entrar</button>
                </form>
            </li>

            {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% endif %}
    {% block body %}
    {% endblock %}

    <div class="container-fluid" id="container-rodape">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p>FixCode</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-">
                    <p>&reg; copyright 2016 FixCode comunity</p><br>
                    <a href="#">Sobre</a> - 
                    <a href="#">Cadastre-se</a> - 
                    <a href="#">Ajuda</a> - 
                    <a href="#">Blog</a>
                    <p></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p>Redes sociais: <a href="#">Facebook</a> <a href="#">Youtube</a></p>
                </div>
            </div>
        </div>
    </div>

     
    <script language="javascript" src="{% static 'core/css/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/highlight.min.js' %}"></script>
    
    <script language="javascript" src="{% static 'core/js/pace.min.js' %}"></script>
    <script language="javascript" src="{% static 'core/js/global.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>
