{% extends 'core/base.html' %}
{% load aux_tags %}
{% load staticfiles %}
{% block titulo %}{% endblock %}
{% block user %}{% endblock %}
{% block verperfil %}{% endblock %}
{% block menu %}{% endblock %}
{% block imagemperfil %}{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  {% block bread %}
		  {% endblock %}
		</ol>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
			<div class="panel panel-default pesqindex">
				<div class="panel-heading"><h4 class="titp">Suas habilidades</h4></div>
				<div class="panel-body">
					<ul class="nav" role="tablist">
						{% block habilidades %}{% endblock %}
					</ul>
					<ul class="nav" role="tablist">
					  <li role="presentation"><button data-toggle="modal" data-target="#modalAreas" type="button" class="btn btn-link">Ver todas as áreas >></button></li>
					</ul>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="modalAreas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Todas as áreas:</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="list-group">
					        {% for area in ii|auxArea %}
					        	<a href="{% url 'core:search_area_fix' area.pk %}" class="list-group-item">{{ area.nome_linguagem }} {% if area|quant_Area %}<span class="badge pull-right sai">{{ area|quant_Area }}</span>{% endif %}</a>
					        {% endfor %}
				        </div>  
				      </div>
				    </div>
				  </div>
				</div>
			</div>		
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
			<div class="panel panel-default">
				<div class="panel-body">
					{% block tit %}{% endblock %}
					<ul class="nav nav-tabs navpad">
					{% block pad %}{% endblock %}
					</ul>
					{% block conteudo %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}