{% extends 'core/base.html' %}
{% load aux_tags %}
{% load staticfiles %}
{% block titulo %}{% endblock %}
{% block user %}{% endblock %}
{% block verperfil %}{% endblock %}
{% block menu %}{% endblock %}
{% block imagemperfil %}{% endblock %}


{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  {% block bread %}
		  {% endblock %}
		</ol>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
			<div class="panel panel-default pesqindex">
				  <div class="panel-body">
				    <a href="{% url 'core:create_post' %}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Novo post</a>
				  </div>
			</div>
			<div class="panel panel-default">
				  <div class="panel-body">
				  	<ul class="list-group">
					  <li class="list-group-item">Este é o painel de gerenciamentos e notificação das suas postagens.</li>
					  <li class="list-group-item">Todas as novidades envolvendo suas postagens estarão na aba de <b>Notificações</b>.</li>
					  <li class="list-group-item">Cada notificação precisará ser visitada para estar constada como lida. </li>
					  <li class="list-group-item">Vá em ajuda para mais informações. </li>
					</ul>
				  </div>
			</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
			<div class="panel panel-default">
					<div class="panel-body">

						{% block panel %}
						{% endblock %}
					</div>
				</div>
			
	</div>
</div>

{% if delete %}
	<p>Fix deletado</p>
{% endif %}
{% endblock %}