{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/css/estilohighlight.min.css' %}">
    <script src="{% static 'core/js/highlight.min.js' %}"></script>
	<script>hljs.initHighlightingOnLoad();</script>

<h3>Crie um novo fix</h3>

{% if error_message %}
	<p>{{ error_message }}</p>
{% endif %}

<form method="post">
	{% csrf_token %}
	{% for field in form %}
		{{ field.errors }}
		{{ field.label_tag }}
		<br>
		{{ field }}
		<br><br>
	{% endfor %}
	<button type="submit">Salvar fix!</button>
</form>