{% extends 'core/base.html' %}
{% load staticfiles %}
{% load aux_tags %}
{% block titulo %}Criar Fix - FixCode{% endblock %}
{% block user %}{{user.first_name}}{% endblock %}
{% block verperfil %}{% url 'core:profile' user.username %}{% endblock %}

{% block imagemperfil %}
	{% if eu.imagem_perfil %}
		<a href="{% url 'core:profile' user.username %}"><img src="{{ eu.imagem_perfil.url }}" class="navbar-brand img-circle" alt="imgperfil"></a>
	{% else %}
		<a href="{% url 'core:profile' user.username %}"><img src="{% static 'core/imagens/default.png' %}" class="navbar-brand img-circle" alt="imgperfil"></a>
		
	{% endif %}
{% endblock %}

{% block body %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">Criar Fix</li>
		</ol>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-lg-8">
				
				<div class="panel panel-default">
				<div class="panel-heading"><h4>Criar Fix</h4></div>
				<div class="panel-body">
					<form action="{% url 'core:create_fix' %}" class="form-horizontal" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="{{form.titulo.name}}" class="col-xs-2 control-label">{{ form.titulo.label_tag }}</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id=""  name="{{form.titulo.name}}" placeholder="Ex.: Problema de alocação dinâmica" value="{{form.titulo.value}}">
							</div>
							{% if form.titulo.errors %}
								<div class="col-xs-12">
									<p>{{ form.titulo.errors }}</p>
								</div>
							{% endif %}							
						</div>
						<div class="form-group">
							<label for="{{form.descricao.name}}" class="col-xs-2 control-label">{{ form.descricao.label_tag }}</label>
							<div class="col-xs-10">
								{{ form.descricao }}
							</div>
							{% if form.descricao.errors %}
								<div class="col-xs-12">
									<p>{{ form.descricao.errors }}</p>
								</div>
							{% endif %}							
						</div>
						
						<!-- Parei aqui! Falta fazer as áreas para que fiquem inline! -->
						
					
					{% for field in form %}
						{{ field.errors }}
						{{ field.label_tag }}
						<br>
						{{ field }}
						<br><br>
					{% endfor %}
					{% if aviso %}
					<p>{{ aviso }}</p>
					{% endif %}
					<button type="submit">Salvar fix!</button>
				</form>


				</div>
				</div>
			
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-body">

					</div>

				</div>
				
			</div>
		</div>
	</div>
</div>

{% endblock %}