{% extends 'core/base.html' %}
{% load staticfiles %}
{% load aux_tags %}
{% block titulo %}{{ profile.user.first_name }} - Favoritos - FixCode{% endblock %}
{% block user %}{{user.first_name}}{% endblock %}
{% block verperfil %}{% url 'core:profile' user.username %}{% endblock %}

{% block menu %}
<li><a href="{% url 'core:register' %}">Cadastre-se!</a></li>
<li><a href="{% url 'core:sobre' %}">Sobre</a></li>
<li><a href="#">Ajuda</a></li>
<li><a href="#">Feedback</a></li>
{% endblock %}

{% block imagemperfil %}
	{% if eu.imagem_perfil %}
		<a href="{% url 'core:profile' user.username %}"><img src="{{ eu.imagem_perfil.url }}" class="navbar-brand img-circle" alt="imgperfil" width="50" height="60"></a>
	{% else %}
		<a href="{% url 'core:profile' user.username %}"><img src="{% static 'core/imagens/default.png' %}" class="navbar-brand img-circle" alt="imgperfil" width="50" height="60"></a>

	{% endif %}
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-5 col-lg-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
							{% if profile.imagem_perfil %}
								<img class="img-responsive thumbnail" src="{{ profile.imagem_perfil.url }}">
							{% else %}
								<img class="img-responsive thumbnail" src="{% static 'core/imagens/default.png' %}">
							{% endif %}
							<div id="dad">
								{% if profile.user == request.user %}
									<a class="btn btn-default btn-block btn-sm" href="{% url 'core:editprofile' %}">Editar perfil</a>
								{% else %}
									{% if dadosSeguir is not 0 %}
										{% if dadosSeguir is 1 %}
											<button class="btn btn-danger btn-block btn-sm" id="seguimento" onclick="requisicao('{{ profile.user.username }}')"><span class="glyphicon glyphicon-remove"></span> Parar de seguir</button>
										{% else %}
											<button class="btn btn-success btn-block btn-sm" id="seguimento" onclick="requisicao('{{ profile.user.username }}')"><span class="glyphicon glyphicon-ok"></span> Seguir</button>
										{% endif %}
										<a class="btn btn-default btn-block btn-sm" href="{% url 'core:sala' profile.user.pk %}"><span class="glyphicon glyphicon-send"></span> Mandar mensagem</a>
									{% endif %}
									
								{% endif %}
							</div>
						</div>
						<div class="col-lg-12">
							<h2>{{ profile.user.first_name }}<br>
								<small>{{ profile.user.username }}</small>
							</h2>
							{% if dadosSeguir is 1 %}
								<small class="pCinzaUser"><span class="glyphicon glyphicon-ok-circle"></span> Você segue {{ profile.user.first_name }} desde {{ data.day }}/{{ data.month }}/{{ data.year }}.</small>
							{% endif %}
							{% if dadosSDV is 1 %}
								<br><small class="pCinzaUser"><span class="glyphicon glyphicon-ok-circle"></span> {{ profile.user.first_name }} segue você.</small>
							{% endif %}
							{% if profile.user != request.user and dadosSeguir is not 0 %}
								{% if dadoBlock is not 0 %}
									{% if dadoBlock == 1 %}
										<br><small style="color: red;"><span class="glyphicon glyphicon-ban-circle"></span> Você bloqueou {{ profile.user.first_name }}.</small>
										<small><button type="button" class="btn btn-link btn-sm" style="margin-left: -10px; margin-top: -1px;" data-toggle="modal" data-target="#modalDesbloquear">Desbloquear</button></small>
										<!-- Modal -->
										<div class="modal fade" id="modalDesbloquear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										        <h4 class="modal-title" id="myModalLabel">Desbloquear usuário</h4>
										      </div>
										      <div class="modal-body">
										        Ao concluir esta ação, você irá desbloquear "{{ profile.user.first_name }}" e ele poderá interagir nos seus <b>fixies</b> e <b>posts</b>, como também poderá lhe mandar mensagens pelo <b>Inbox</b>.
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
										        <button type="button" class="btn btn-primary" onclick="desbloquear('{{ profile.user }}')">Desbloquear</button>
										      </div>
										    </div>
										  </div>
										</div>
									{% else %}
										<br><small><button type="button" class="btn btn-link btn-sm" style="margin-left: -10px;" data-toggle="modal" data-target="#modalBloquear"><span class="glyphicon glyphicon-ban-circle"></span> Bloquear {{ profile.user.first_name }}</button></small>
										<!-- Modal -->
										<div class="modal fade" id="modalBloquear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										        <h4 class="modal-title" id="myModalLabel">Desbloquear usuário</h4>
										      </div>
										      <div class="modal-body">
										        Ao concluir esta ação, você irá <b>Bloquear</b> "{{ profile.user.first_name }}" e ele não poderá interagir nos seus <b>fixies</b> e <b>posts</b>, como também não poderá lhe mandar mensagens pelo <b>Inbox</b>.
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
										        <button type="button" class="btn btn-danger" onclick="bloquear('{{ profile.user }}')">Bloquear</button>
										      </div>
										    </div>
										  </div>
										</div>
									{% endif %}
								{% endif %}	
								
							{% endif %}
							<div><hr></div>

							{% if profile.bio %}
								<h4><span class="glyphicon glyphicon-info-sign"></span> {{ profile.bio }}</h4>
							{% endif %}
							{% if profile.git %}
								<h4><span><img src="{% static 'core/css/github-logo.png' %}" width="19" height="19"></span> <a href="http://github.com/{{ profile.git }}" target="_blank"> {{ profile.git }} </a></h4>
							{% endif %}
								<h4><span class="glyphicon glyphicon-time"></span> Ingressou em {{ profile.user.date_joined.day }}/{{ profile.user.date_joined.month }}/{{ profile.user.date_joined.year }}</h4>
							<div><hr></div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<a href="{% url 'core:follower' profile.user.username %}">
									<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
											<h5 class="pCinzaUser linkSeguidores corliseg" align="middle">
												SEGUIDORES
											</h5>
											<h3 class="corlisegindex" align="middle">{{ numerofollowers|length }}</h3>
											
									</div>
								</a>
								<a href="{% url 'core:following' profile.user.username %}">
									<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
											<h5 class="pCinzaUser linkSeguidores corliseg" align="middle">
												SEGUINDO
											</h5>
											<h3 class="corlisegindex" align="middle">{{ numerofollowings|length }}</h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 col-md-7 col-lg-8">
				
				<div class="panel panel-default">
					<div class="panel-body">
						<ul class="nav nav-tabs navpad">
						  <li role="presentation"><a href="{% url 'core:profile' profile.user.username %}">Posts ({{ profile.user|quant_post }})</a></li>
						  <li role="presentation"><a href="{% url 'core:participations' profile.user.username %}">Participações ({{ participations.count }})</a></li>
						  <li role="presentation" class="active"><a href="{% url 'core:favorites' profile.user.username %}">Favoritos ({{ favorites.count }})</a></li>
						  <li role="presentation"><a href="{% url 'core:follower' profile.user.username %}">Seguidores ({{ numerofollowers|length }})</a></li>
						  <li role="presentation"><a href="{% url 'core:following' profile.user.username %}">Seguindo ({{ numerofollowings|length }})</a></li>
						</ul>
						
						{% if relations %}
							
						{% for fix in relations %}
							<div class="panel panel-default" style="background-color: #f5f5f5;">
								<div class="panel-body">
									<div class="media-body">
								    <h4 class="media-heading"><a class="titulopindex" href="{% url 'core:profile' fix.fixie.user %}">{{ fix.fixie.user.first_name }}</a> - <span class="pCinzaUser">{{ fix.fixie.user }}</span></h4>
								    <small class="pCinza"><span class="glyphicon glyphicon-time"></span> 
								    	{% if fix.fixie.data|subtempo == 0 %}
								  			hoje
								  		{% elif fix.fixie.data|subtempo == 1 %}
								  			ontem
								  		{% else %}
								  			Há {{ fix.fixie.data|subtempo }} dias
								  		{% endif %}
								  		- <span class="glyphicon glyphicon-tags"></span>
								  		{% for tag in fix.fixie.area.all %}
								  			{% if tag == fix.fixie.area.all.last %}
								  				&nbsp;<a class="pCinza" href="{% url 'core:search_area_fix' tag.pk %}">{{ tag }}</a>.
								  			{% else %}
								  				&nbsp;<a class="pCinza" href="{% url 'core:search_area_fix' tag.pk %}">{{ tag }}</a>,
								  			{% endif %}
								  		{% endfor %}
								  		{% if fix.resolvido %}
								  			&nbsp;- <span class="glyphicon glyphicon-ok"></span>
								  			Resolvido
								  		{% endif %}
								    </small>
								    <h3>{{ fix.fixie.titulo }}</h3>
								    <p>{{ fix.fixie.descricao|safe|truncatechars_html:300 }}</p>
								    	<a class="btn btn-primary btn-sm col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-offset-2" href="{% url 'core:fix_detail' fix.fixie.pk %}">Responder fix</a>
							    
								    	<p class="col-xs-8 col-sm-8 col-md-8 col-lg-6 comentf">
								    	{% if fix.fixie.pk|quant_coment == 0 %}
								    		<span class="glyphicon glyphicon-comment"></span> Não há nenhuma resposta
								    	{% else %}
								    		<span class="glyphicon glyphicon-comment"></span> Há {{ fix.fixie.pk|quant_coment }} respostas neste fix
								    	{% endif %}
								    	</p>
								    	
								    	
								    
								</div>
								</div>
							</div>
						{% endfor %}

						<nav aria-label="Page navigation">
						  <ul class="pager">
						    {% if relations.has_previous %}
						    	<li class="previous"><a href="?page={{ relations.previous_page_number }}"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
						    {% else %}
						    	<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
					        {% endif %}
						    Página {{ relations.number }} de {{ relations.paginator.num_pages }}.
						    {% if relations.has_next %}
						    	<li class="next"><a href="?page={{ relations.next_page_number }}">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
						    {% else %}
						    	<li class="next disabled"><a href="#">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
					        {% endif %}
						  </ul>
						</nav>
					{% else %}
						<h1>:/</h1>
						<h3>Olá {{ user.first_name }}!</h3>
						<h5>Não há nenhum registro aqui.</h5>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>




	<script src="{% static 'core/js/main.js' %}"></script>
{% endblock %}
