<!DOCTYPE html>
<html>
<head>
	{% if fixie.resolvido %}
		<title>{{ fixie.titulo }} [Resolvido] - Fixcode</title>
	{% else %}
		<title>{{ fixie.titulo }} - Fixcode</title>
	{% endif %}
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="{% static 'core/js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/css/estilohighlight.min.css' %}">
    <script src="{% static 'core/js/highlight.min.js' %}"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
{% load aux_tags %}
<h1>{{ fixie.titulo }}</h1>
<h3>por {{ fixie.user.first_name }} - publicado em {{ fixie.data }}</h3>
<span>{{ fixie.descricao }}</span>

{% if chave %}
	<a href="#" onclick="alertDelete('{{fixie.pk}}')">Deletar fix</a>
	{% if fixie.ativa_notificacao == True %}
		<a href="#" id="seg" onclick="getNotifyMyFix('{{ fixie.pk }}')">Desativar notificações</a>
	{% else %}
		<a href="#" id="seg" onclick="getNotifyMyFix('{{ fixie.pk }}')">Ativar notificações</a>
	{% endif %}
{% endif %}

{% if aviso %}
	<h4>{{ aviso }}</h4>
{% endif %}

{% if coments %}
	<h4>Há {{ coments|l }} respostas para este fix:</h4>

	{% for com in coments %}
		{% if com.melhor_resposta %}
			<div style="background-color: yellow;">
				<p>MELHOR RESPOSTA ESCOLHIDA PELO AUTOR:</p>
				<p>...................</p>
				<p><i>{{ com.coment|safe }}</i></p>
				<p>publicado por: {{ com.user.first_name }}</p>
				<p>data: {{ com.data }}</p>
				<p>....................</p>
			</div>
			
		{% endif %}		
	{% endfor %}

	{% if chave_fav is 1 %}
		<p><a href="#" id="fav" onclick="requisicaoFavorite('{{ fixie.pk }}')">Desfavoritar Fix</a></p>
	{% elif chave_fav is 2 %}
		<p><a href="#" id="fav" onclick="requisicaoFavorite('{{ fixie.pk }}')">Favoritar Fix</a></p>
	{% endif %}

	{% if chave_de_participacao == 1 %}
		<p><a href="#" id="par" onclick="requisicaoNotificacaoParticipacao('{{ fixie.pk }}')">Desativar notificação de participação</a></p>
		<p><a href="#" onclick="deleteparticipation('{{ fixie.pk }}')">Excluir participação</a></p>
	{% elif chave_de_participacao == 2 %}
		<p><a href="#" id="par" onclick="requisicaoNotificacaoParticipacao('{{ fixie.pk }}')">Ativar notificação de participação</a></p>
		<p><a href="#" onclick="deleteparticipation('{{ fixie.pk }}')">Excluir participação</a></p>
	{% endif %}



	{% if chave %}
		{% if fixie.resolvido %}
			<p>Este fix está resolvido! - <a href="#" onclick="restore('{{ fixie.pk }}')">Restaurar fix</a></p> 
		{% else %}
			{% if coments.counter != 0 %}
				<a href="#" onclick="fixed('{{ fixie.pk }}')">Marcar fix como resolvido</a> (Esta opção irá desabilitar novas respostas)
			{% endif %}
		{% endif %}
		
		{% for com in coments %}
			<p>...................</p>
			<p><img src="{{ l }}" width="100" height="100"><a href="{% url 'core:profile' com.user.username %}">{{ com.user.first_name }}</a></p>
			<p><i>{{ com.coment|safe }}</i> - <a href="" onclick="best_answer('{{ com.pk }}')">Escolher como solução</a> <div id="best{{com.id}}"></div></p>
			<p>data: {{ com.data }}</p>
			{% if com.user != request.user %}
				<p><a href="" onclick="report('{{ com.pk }}')"">Reportar resposta</a></p>
			{% endif %}
			<p>....................</p>
		{% endfor %}
	{% else %}
		{% for com in coments %}
			<p>...................</p>
			<p><a href="{% url 'core:profile' com.user.username %}">{{ com.user.first_name }}</a></p>
			<p><i>{{ com.coment|safe }}</i></p>
			<p>data: {{ com.data }}</p>
			<p>....................</p>
		{% endfor %}
	{% endif %}


{% else %}
	<p>Ainda não nenhuma resposta</p>
{% endif %}

{% if fixie.resolvido == False %}
	<div id="post"></div>
	<form method="post">
	{% csrf_token %}
	{% for field in form %}
		{{ field.errors }}
		{{ field.label_tag }}
		<br>
		{{ field }}
		<br><br>
	{% endfor %}
	<button type="submit">Responder</button>
{% endif %}


</body>
</html>