<!DOCTYPE html>
<html>
<head>
	{% if fixie.resolvido %}
		<title>{{ fixie.titulo }} [Resolvido] - Fixcode</title>
	{% else %}
		<title>{{ fixie.titulo }} - Fixcode</title>
	{% endif %}
</head>
<body>
{% load aux_tags %}
<h1>{{ fixie.titulo }}</h1>
<h3>por {{ fixie.user }} - publicado em {{ fixie.data }}</h3>
<span>{{ fixie.descricao }}</span>
{% if coments %}
	<h4>Há {{ coments|l }} respostas para este fix:</h4>

	{% for com in coments %}
		{% if com.melhor_resposta %}
			<div style="background-color: yellow;">
				<p>MELHOR RESPOSTA ESCOLHIDA PELO AUTOR:</p>
				<p>...................</p>
				<p><i>{{ com.coment }}</i></p>
				<p>publicado por: {{ com.user }}</p>
				<p>data: {{ com.data }}</p>
				<p>....................</p>
			</div>
			
		{% endif %}		
	{% endfor %}

	{% if chave %}
		{% if fixie.resolvido %}
			<p>Este fix está resolvido! - <a href="{% url 'core:restore_fixed_code' fixie.pk%}">Restaurar fix</a></p> 
		{% else %}
			{% if coments.counter != 0 %}
				<a href="{% url 'core:mark_fixed_code' fixie.pk %}">Marcar fix como resolvido</a> (Esta opção irá desabilitar novas respostas)
			{% endif %}
		{% endif %}
		
		{% for com in coments %}
			<p>...................</p>
			<p><i>{{ com.coment }}</i> - <a href="{% url 'core:best_answer' fixie.pk com.pk %}">Escolher como solução</a></p>
			<p>publicado por: {{ com.user }}</p>
			<p>data: {{ com.data }}</p>
			<p>....................</p>
		{% endfor %}
	{% else %}
		{% for com in coments %}
			<p>...................</p>
			<p><i>{{ com.coment }}</i></p>
			<p>publicado por: {{ com.user }}</p>
			<p>data: {{ com.data }}</p>
			<p>....................</p>
		{% endfor %}
	{% endif %}


{% else %}
	<p>Ainda não nenhuma resposta</p>
	<a href="#">Seja o primeiro a responder</a>
{% endif %}

{% if fixie.resolvido == False %}
	<form method="post">
	{% csrf_token %}
	{% for field in form %}
		{{ field.errors }}
		{{ field.label_tag }}
		<br>
		{{ field }}
		<br><br>
	{% endfor %}
	<button type="submit">Responder</button>
{% endif %}


</body>
</html>