{% extends 'core/base.html' %}
{% load staticfiles %}
{% load aux_tags %}
{% block titulo %}FixCode{% endblock %}
{% block user %}{{user.first_name}}{% endblock %}
{% block verperfil %}{% url 'core:profile' user.username %}{% endblock %}

{% block imagemperfil %}
	{% if profile.imagem_perfil %}
		<a href="{% url 'core:profile' user.username %}"><img src="{{ profile.imagem_perfil.url }}" class="navbar-brand img-circle" alt="imgperfil" width="50" height="60"></a>
	{% else %}
		<a href="{% url 'core:profile' user.username %}"><img src="{% static 'core/imagens/default.png' %}" class="navbar-brand img-circle" alt="imgperfil" width="50" height="60"></a>
		
	{% endif %}
{% endblock %}

{% block body %}
<script src="{% static 'core/js/quantTimeline.js' %}"></script>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<div class="panel panel-default">				
			  <div class="panel-body">
			  	<div class="col-xs-4 ig" style="margin-left: -15px; margin-bottom: -30px;">
			  		{% if profile.imagem_perfil %}
			  		<a href="/editprofile/"><img class="img-circle borda im" src="{{ profile.imagem_perfil.url }}" width="100" height="100"></a>					
					{% else %}
						<a href="/editprofile/"><img class="img-circle borda im" src="{% static 'core/imagens/default.png' %}" width="100" height="100"></a>
					{% endif %}
					<a href="/editprofile/"><h3><span class="ic glyphicon glyphicon-camera"></span></h3></a>
			  	</div>
			  	<div class="col-xs-7 col-xs-offset-1" style="padding-right: 4px;">
			  		
			  			<a class="titulopindex" href=""><h4>{{ request.user.first_name|truncatechars:17 }}</h4></a>
			  			<h4 class="pCinzaUser" style="margin-top: -5px; margin-bottom: -4px;">{{ request.user.username }}</h4>
			  		
						<a href="{% url 'core:follower' profile.user.username %}">	
							<h5 class="pCinzaUser linkSeguidores corliseg">
								SEGUIDORES:
								<span class="corlisegindex">{{ request.user|qfollowers }}</span> 
							</h5>
						</a>
						<a href="{% url 'core:following' profile.user.username %}">
							<h5 class="pCinzaUser linkSeguidores corliseg" style="padding-top: 3px;">
								SEGUINDO:
								<span class="corlisegindex">{{ request.user|qfollowing }}</span>
							</h5>
						</a>					
			  		  		

			  	</div>   
				
			  </div>
			</div>
			<div class="panel panel-default pesqindex">
				<div class="panel-heading"><h4 class="titp">Fix</h4></div>
				  <div class="panel-body">
				    <a href="{% url 'core:create_fix' %}" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Novo fix</a>
				    <ul class="nav" role="tablist">
					  <li role="presentation"><a href="{% url 'core:myfixiesN' %}">Meus Fixies
					  {% if user|quant_fix > 0 %}
					   <span class="badge pull-right sai">{{ user|quant_fix }}</span>
					   {% endif %}</a></li>
					  <li role="presentation"><a href="{% url 'core:myparticipationsN' %}">Participações {% if user|quant_part > 0 %}<span class="badge pull-right sai">{{ user|quant_part }}</span>{% endif %}</a></li>
					  <li role="presentation"><a href="{% url 'core:myfavoritesN' %}">Favoritos {% if user|quant_fav > 0 %}<span class="badge pull-right sai">{{ user|quant_fav }}</span>{% endif %}</a></li>
					</ul>
				  </div>
			</div>
			<div class="panel panel-default pesqindex">
				<div class="panel-heading"><h4 class="titp">Blog</h4></div>
				  <div class="panel-body">
				    <a href="{% url 'core:create_post' %}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Nova postagem</a>
				    <ul class="nav" role="tablist">
					  <li role="presentation"><a href="{% url 'core:my_postsN' %}">Minhas postagens {% if user|quant_post > 0 %}<span class="badge pull-right sai">{{ user|quant_post }}</span>{% endif %}</a></li>
					</ul>
				  </div>
			</div>

			<div class="panel panel-default pesqindex">
				<div class="panel-heading"><h4 class="titp">Suas habilidades</h4></div>
				  <div class="panel-body">
				  <ul class="nav" role="tablist">
				  	{% for habilidade in profile.habilidades.all %}
				  		<li role="presentation"><a href="{% url 'core:search_area_fix' habilidade.pk %}">{{ habilidade }} {% if habilidade|quant_Area %}<span class="badge pull-right sai">{{ habilidade|quant_Area }}</span>{% endif %}</a></li>
				  	{% endfor %}
				  	</ul>
					<ul class="nav" role="tablist">
					  <li class="hoverLiFix" role="presentation" data-toggle="modal" data-target="#modalAreas">Ver todas as áreas >></li>
					</ul>
				  </div>
				  <!-- Modal -->
					<div class="modal fade" id="modalAreas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">Todas as áreas:</h4>
					      </div>
					      <div class="modal-body">
					      	<div class="list-group">
						        {% for area in ii|auxArea %}
						        	<a href="{% url 'core:search_area_fix' area.pk %}" class="list-group-item">{{ area.nome_linguagem }} {% if area|quant_Area %}<span class="badge pull-right sai">{{ area|quant_Area }}</span>{% endif %}</a>
						        {% endfor %}
					        </div>  
					      </div>
					    </div>
					  </div>
					</div>
			</div>
			
			
		</div>
		<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
			<div id="recarrega"></div>
			<div id="notifica"></div>
			<div id="notificaParticipacao"></div>
			<div id="notificaPosts"></div>
			{% if relations %}

				{% for fixie in relations %}
					
						{% if fixie|fixoupost %}
							<div class="panel panel-default">
								<div class="panel-body">
								<div class="media-left media-top">
								    {% if fixie.user|imagemperfil %}
									<img class="thumbnail media-object" src="{{ fixie.user|imagemperfil }}" width="80" height="80">
									{% else %}
									<img class="thumbnail media-object src="{% static 'core/imagens/default.png' %}" width="100" height="100">
									{% endif %}
								</div>
								<div class="media-body">
								    <h4 class="media-heading"><a class="titulopindex" href="{% url 'core:profile' fixie.user.username %}">{{ fixie.user.first_name }}</a> - <span class="pCinzaUser">{{fixie.user.username}}</span></h4>
								    <small class="pCinza"><span class="glyphicon glyphicon-time"></span> 
								    	
								  			Há {{ fixie.data|timesince}}
								  		
								  		- <span class="glyphicon glyphicon-tags"></span>
								  		{% for tag in fixie.area.all %}
								  			{% if tag == fixie.area.all.last %}
								  				&nbsp;<a class="pCinza" href="{% url 'core:search_area_fix' tag.pk %}">{{ tag }}</a>.
								  			{% else %}
								  				&nbsp;<a class="pCinza" href="{% url 'core:search_area_fix' tag.pk %}">{{ tag }}</a>,
								  			{% endif %}
								  		{% endfor %}
								  		{% if fixie.resolvido %}
								  			&nbsp;- <span class="glyphicon glyphicon-ok"></span>
								  			Resolvido
								  		{% endif %}

								    </small>
								    <h3>{{ fixie.titulo }}</h3>
								    <div class="fcc">{{ fixie.descricao|safe|truncatechars_html:300}}</div>

								    	
								    	<a class="btn btn-default col-lg-4" href="{% url 'core:fix_detail' fixie.pk %}">Responder fix</a>
								    
								    	<p class="col-lg-6 comentf">
								    	{% if fixie.pk|quant_coment == 0 %}
								    		<span class="glyphicon glyphicon-comment"></span> Não há nenhum comentário
								    	{% else %}
								    		<span class="glyphicon glyphicon-comment"></span> Há {{ fixie.pk|quant_coment }} comentários neste fixie
								    	{% endif %}
								    	</p>
								    	
								    	
								    
								</div>
								</div>
							</div>
						{% else %}
						<div class="panel painelpost">
								<div class="panel-body">
								<div class="media-left media-top">
								    {% if fixie.user|imagemperfil %}
									<img class="thumbnail media-object" src="{{ fixie.user|imagemperfil }}" width="80" height="80">
									{% else %}
									<img class="thumbnail media-object src="{% static 'core/imagens/default.png' %}" width="100" height="100">
									{% endif %}
								</div>
								<div class="media-body">
								    <h4 class="media-heading"><a class="titulopindex" href="{% url 'core:profile' fixie.user.username %}">{{ fixie.user.first_name }}</a> - <span class="pCinzaUser">{{fixie.user.username}}</span></h4>
								    <small class="pCinza"><span class="glyphicon glyphicon-time"></span> 
								    	
								  			Há {{ fixie.data|timesince }}
								  		
								  		- <span class="glyphicon glyphicon-tags"></span>
								  		{% for tag in fixie.area.all %}
								  			{% if tag == fixie.area.all.last %}
								  				&nbsp;<a class="pCinza" href="{% url 'core:search_area_fix' tag.pk %}">{{ tag }}</a>.
								  			{% else %}
								  				&nbsp;<a class="pCinza" href="{% url 'core:search_area_fix' tag.pk %}">{{ tag }}</a>,
								  			{% endif %}
								  		{% endfor %}
								  		{% if fixie.anexo.path|verificaArquivo != False %}
								  			&nbsp;- <span class="glyphicon glyphicon-link"></span>Anexo
								  		{% endif %}

								    </small>
								    <h3>{{ fixie.titulo }}</h3>
								    <p>{{ fixie.post|safe|truncatechars_html:300 }}</p>

								    	
								    	<a class="btn btn-default col-lg-4" href="{% url 'core:post_detail' fixie.pk %}">Detalhar</a>
								    
								    	<p class="col-lg-6 comentf">
								    	{% if fixie.pk|quant_comentP == 0 %}
								    		<span class="glyphicon glyphicon-comment"></span> Não há nenhum comentário
								    	{% else %}
								    		<span class="glyphicon glyphicon-comment"></span> Há {{ fixie.pk|quant_comentP }} comentários neste post
								    	{% endif %}
								    	</p>
								</div>
								</div>
							</div>

						
						{% endif %}
				
			{% endfor %}
				<nav aria-label="Page navigation">
				  <ul class="pager">
				    {% if relations.has_previous %}
				    	<li class="previous"><a href="?page={{ relations.previous_page_number }}"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
				    {% else %}
				    	<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
			        {% endif %}
				    Página {{ relations.number }} de {{ relations.paginator.num_pages }}.
				    {% if relations.has_next %}
				    	<li class="next"><a href="?page={{ relations.next_page_number }}">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
				    {% else %}
				    	<li class="next disabled"><a href="#">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
			        {% endif %}
				  </ul>
				</nav>
			{% else %}
				<h1>:/</h1>
				<h3>Olá {{ user.first_name }}!</h3>
				<h5>Me parece que ainda não há nada por aquí. Tente seguir pessoas</h5>
				<p>Que tal a caixa de pesquisa? :)</p>
			{% endif %}
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sai">
			<div class="panel panel-default pesqindex">
				<div class="panel-heading"><h4 class="titp">Inbox</h4></div>
				  <div class="panel-body">
				  	{% if quantidade_mensagens %}
				  		<p>Você tem novas mensagens de {{ quantidade_mensagens }} usuário(s).</p>
				  	{% else %}
				  		<p>Mande mensagens para qualquer usuário FixCode! Use o <span style="color: red;">Inbox</span>.</p>
				  	{% endif %}
				  	<a href="{% url 'core:my_contacts' %}" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Inbox</a>
				  </div>
			</div>
			


			<div class="panel panel-default pesqindex">
				<div class="panel-heading"><h4 class="titp">Atividade dos seus amigos</h4></div>
				  <div class="panel-body">
				  	<ul class="list-group">
				  	{% for com in comentariosDosSeguindo %}
				  		<a href="{% url 'core:fix_detail' com.1.pk %}" class="list-group-item">
				  		<div class="media-left media-middle">
					        					   
				  		{% if com.0|imagemperfil %}			    				
	    				<img src="{{ com.0|imagemperfil }}" class="media-object img-circle" alt="imgperfil" width="40" height="40">
						{% else %}
						<img src="{% static 'core/imagens/default.png' %}" class="media-object img-circle" alt="imgperfil" >
						{% endif %}
						</div>
						<div class="media-body">
						{{ com.0.first_name }}
						{% if com.2 == True %}
							participou de
						{% else %}
							favoritou 
						{% endif %}
						 "{{ com.1.titulo }}" - 
				  			<small class="pCinzaUser">Há {{ com.3|timesince }} </small>
				  		</div>
				  		</a>
				  	{% empty %}
				  		<h5>Você ainda não tem nada por aqui, procure quem seguir na caixa de pesquisa.</h5>			  		
				  	{% endfor %}
				  	</ul>
				  	<ul class="nav" role="tablist">
					  <li role="presentation"><a href="{% url 'core:friendsactivities' %}" class="vertodos">Ver todos >></a></li>
					</ul>
				  </div>
			</div>
		</div>
	</div>
</div>

{% block scripts %}
	<script type="text/javascript">
		var pantigo = {{ qposts }};
	</script>
	<script src="{% static 'core/js/main.js' %}"></script>
	<script src="{% static 'core/js/notificaindex.js' %}"></script>
{% endblock %}


{% endblock %}