<!DOCTYPE html>
<html>
<head>
	<title>Fixcode</title>
</head>
<body>
{% load aux_tags %}
<p>Logado como {{ user.first_name }}</p>
<a href="{% url 'core:logout_user' %}">Deslogar</a>
<a href="{% url 'core:create_fix' %}">Criar fix</a>
<a href="{% url 'core:myfixies' %}">Meus fixies</a>
<a href="{% url 'core:participations' user.username %}">Participações</a>
<a href="{% url 'core:favorites' user.username %}">Favoritos</a>
<a href="{% url 'core:profile' user.username %}">Perfil</a>
<a href="{% url 'core:following' user.username %}">Seguindo</a>
<a href="{% url 'core:follower' user.username %}">Seguidores</a>

{% if fixies %}
	{% if count_notify > 0 %}
		<a href="{% url 'core:myfixies' %}"><h4 style="background-color: blue; color: white;">Você tem {{ count_notify }} fixies respondidos</h4></a>
	{% endif %}
{% endif %}
{% if count_notify_relationships > 0%}
	<a href="{% url 'core:participations' user.username %}"><h4 style="background-color: green; color: white;">{{ count_notify_relationships }} das suas participações tem novas repostas</h4></a>
{% endif %}

{% if relations %}

	<h2>Fixies: </h2>
	{% for fixie in relations %}
		<p>----------------</p>
		<p>{{ fixie.titulo }}</p>
		<p>{{ fixie.user }}</p>
		<p>{{ fixie.pk|quant_coment }} comentários neste fixie</p>
		<a href="{% url 'core:fix_detail' fixie.pk %}">Responder fix</a>
		<p>-----------------</p>
		
	{% endfor %}
	<div class="pagination">
    <span class="step-links">
        {% if relations.has_previous %}
            <a href="?page={{ relations.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ relations.number }} de {{ relations.paginator.num_pages }}.
        </span>

        {% if relations.has_next %}
            <a href="?page={{ relations.next_page_number }}">próximo</a>
        {% endif %}
    </span>
</div>
{% else %}
	<h2>Nao ha nenhum fixie</h2>
{% endif %}

</body>
</html>