{% extends 'core/base.html' %}
{% load aux_tags %}
{% load staticfiles %}
{% block titulo %}{{ profile.user.first_name }} - Participações - FixCode{% endblock %}
{% block user %}{{user.first_name}}{% endblock %}
{% block verperfil %}{% url 'core:profile' user.username %}{% endblock %}

{% block menu %}
<li><a href="{% url 'core:register' %}">Cadastre-se!</a></li>
<li><a href="#">Sobre</a></li>
<li><a href="#">Ajuda</a></li>
<li><a href="#">Feedback</a></li>
{% endblock %}

{% block imagemperfil %}
	{% if eu.imagem_perfil %}
		<a href="{% url 'core:profile' user.username %}"><img src="{{ eu.imagem_perfil.url }}" class="navbar-brand img-circle" alt="imgperfil"></a>
	{% else %}
		<a href="{% url 'core:profile' user.username %}"><img src="{% static 'core/imagens/default.png' %}" class="navbar-brand img-circle" alt="imgperfil"></a>

	{% endif %}
{% endblock %}


{% block body %}

{% if delete %}
	<p>Fix deletado</p>
{% endif %}

{% if pagina %}
	<h2>Fixies: </h2>
	{% for fixie in pagina %}
		<p>-------{{ fixie.notificacao }} respostas ainda não vistas---------</p>
		<p>{{ fixie.titulo }}</p>
		<p>{{ fixie.user }}</p>
		<p>{{ fixie.pk|quant_coment }} comentários neste fixie</p>
		<a href="{% url 'core:fix_detail' fixie.pk %}">Responder fix</a>
		<p>-----------------</p>
		
	{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if pagina.has_previous %}
            <a href="?page={{ pagina.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ pagina.number }} de {{ pagina.paginator.num_pages }}.
        </span>

        {% if pagina.has_next %}
            <a href="?page={{ pagina.next_page_number }}">próximo</a>
        {% endif %}
    </span>
{% else %}
	<h2>Você tem nenhum fixie, comece <a href="#"> por aqui</a></h2>
{% endif %}

{% endblock %}