<!DOCTYPE html>
<html>
<head>
	<title>Meus fixies</title>
</head>
<body>
{% load aux_tags %}

{% if fixies %}
	<h2>Fixies: </h2>
	{% for fixie in fixies %}
		<p>-------{{ fixie.notificacao }} respostas ainda não vistas---------</p>
		<p>{{ fixie.titulo }}</p>
		<p>{{ fixie.user }}</p>
		<p>{{ fixie.pk|quant_coment }} comentários neste fixie</p>
		<a href="{% url 'core:fix_detail' fixie.pk %}">Responder fix</a>
		<p>-----------------</p>
		
	{% endfor %}
{% else %}
	<h2>Você ainda não criou nenhum fixie, comece <a href="#"> por aqui</a></h2>
{% endif %}

</body>
</html>