<!DOCTYPE html>
<html>
<head>
	<title>Participações</title>
</head>
<body>
{% load aux_tags %}

{% if myparticipations %}
	<h2>Participações: </h2>
	{% for fix in myparticipations %}
		<p>-------{{ fix.notificacao }} respostas ainda não vistas-----------</p>
		<p>{{ fix.fixie.titulo }}</p>
		<p>{{ fix.fixie.user }}</p>
		<p>{{ fix.fixie.pk|quant_coment }} comentários neste fixie</p>
		<a href="{% url 'core:fix_detail' fix.fixie.pk %}">Responder fix</a>
		<p>-----------------</p>
		
	{% endfor %}
{% else %}
	<h2>Você ainda não participou, comece <a href="#"> por aqui</a></h2>
{% endif %}

</body>
</html>