<!DOCTYPE html>
<html>
<head>
	<title>Participações</title>
</head>
<body>
{% load aux_tags %}

{% if relatedfixies %}
	<h2>Participações: </h2>
	{% for fixie in relatedfixies %}
		<p>------------------</p>
		<p>{{ fixie.titulo }}</p>
		<p>{{ fixie.user }}</p>
		<p>{{ fixie.pk|quant_coment }} comentários neste fixie</p>
		<a href="{% url 'core:fix_detail' fixie.pk %}">Responder fix</a>
		<p>-----------------</p>
		
	{% endfor %}
{% else %}
	<h2>Você ainda não participou, comece <a href="#"> por aqui</a></h2>
{% endif %}

</body>
</html>