<!DOCTYPE html>
<html>
<head>
	<title>Participações de {{ user.first_name }} - Fixcode</title>
</head>
<body>
{% load aux_tags %}

{% if chave %}
	<h2>Minhas participações</h2>
{% else %}
	<h2>Participações: de {{ user.username }}</h2>
{% endif %}

{% if pagina %}
	{% for fix in pagina %}
		{% if chave %}
			<p>-------{{ fix.notificacao }} respostas ainda não vistas-----------</p>
		{% else %}
			<p>------------------------------------------------------------------</p>
		{% endif %}		
		<p>{{ fix.fixie.titulo }}</p>
		<p>{{ fix.fixie.user }}</p>
		<p>{{ fix.fixie.pk|quant_coment }} comentários neste fixie</p>
		<a href="{% url 'core:fix_detail' fix.fixie.pk %}">Responder fix</a>
		<p>-----------------</p>
		
	{% endfor %}
	<div class="pagination">
    <span class="step-links">
        {% if pagina.has_previous %}
            <a href="?page={{ pagina.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ pagina.number }} de {{ pagina.paginator.num_pages }}.
        </span>

        {% if pagina.has_next %}
            <a href="?page={{ pagina.next_page_number }}">próximo</a>
        {% endif %}
    </span>
{% else %}
	{% if chave %}
		<h2>Você ainda não participou, comece <a href="#"> por aqui</a></h2>
	{% else %}
		<h2>Ainda não há participações deste usuário</h2>
	{% endif %}
	
{% endif %}

</body>
</html>