<!DOCTYPE html>
<html>
<head>
	<title>{{ post.titulo }} - Fixcode</title>
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/css/estilohighlight.min.css' %}">
    <script src="{% static 'core/js/highlight.min.js' %}"></script>

<script>hljs.initHighlightingOnLoad();
        
</script>
</head>
<body>
{% load aux_tags %}
<h1>{{ post.titulo }}</h1>
<h3>por {{ post.user }} - publicado em {{ post.data }}</h3>
<span>{{ post.post|safe }}</span><br>
{% if post.anexo %}
<p>ANEXO: <a href="/media/{{ post.anexo }}" target="_blank">{{ post.anexo|nomearquivo }}</a></p>
{% endif %}

{% if post.user == request.user %}
	{% if post.exibir_perfil == True %}
		<a href="#" id="req" onclick="requisicaoChavePostPerfil('{{ post.pk }}')">Ocultar post do perfil</a><br>
	{% else %}
		<a href="#" id="req" onclick="requisicaoChavePostPerfil('{{ post.pk }}')">Exibir post no perfil</a><br>
	{% endif %}
	<a href="{% url 'core:edit_post' post.pk %}">Editar post</a><br>
	<a href="#"onclick="alertDeletePost('{{ post.pk }}')">Excluir post</a><br>

	{% if post.ativa_notificacao == True %}
		<a href="#" id="reqP" onclick="requisicaoChaveAtivacaoPost('{{ post.pk }}')">Desativar notificações deste post</a><br>
	{% else %}
		<a href="#" id="reqP" onclick="requisicaoChaveAtivacaoPost('{{ post.pk }}')">Ativar notificações deste post</a><br>
	{% endif %}
{% endif %}


{% if coments %}
	<h4>Há {{ coments|l }} respostas para este fix:</h4>
		
	{% for com in coments %}
		<p>...................</p>
		<p><i>{{ com.coment|safe }}</i></p>
		<p>publicado por: {{ com.user }}</p>
		<p>data: {{ com.data }}</p>
		{% if post.user == request.user and com.user != request.user %}
		<a href="#" onclick="report_coment_post('{{ com.pk }}')">Reportar comentário</a>
		{% endif %}
		<p>....................</p>
	{% endfor %}

{% else %}
	<p>Ainda não nenhuma resposta</p>
{% endif %}

	<div id="post"></div>
	<form method="post">
	{% csrf_token %}
	{% for field in form %}
		{{ field.errors }}
		{{ field.label_tag }}
		<br>
		{{ field }}
		<br><br>
	{% endfor %}
	<button type="submit">Comentar</button>


</body>
</html>