<!DOCTYPE html>
<html>
<head>
	<title>{{ profile.user.first_name }} - Fixcode</title>
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="{% static 'core/js/main.js' %}"></script>
</head>
<body>
	<h1>Perfil</h1>
	<h2>Primeiro nome: {{ profile.user.first_name }}</h2>
	<h2>Sobrenome: {{ profile.user.last_name }}</h2>
	<h3>Bio: {{ profile.bio }}</h3>
	<h3>Github: <a href="{{ profile.git }}"> {{ profile.git }} </a></h3>
	<p><a href="{% url 'core:participations' profile.user.username %}">Participações ({{ participations.count }})</a></p>
	<p><a href="{% url 'core:favorites' profile.user.username %}">Favoritos ({{ favorites.count }})</a></p>
	<p><a href="{% url 'core:following' profile.user.username %}">Seguindo</a></p>
	<p><a href="{% url 'core:follower' profile.user.username %}">Seguidores</a></p>
	<div id="dad">
	{% if dadosSeguir is not 0 %}
		{% if dadosSeguir is 1 %}
			
			<a href="#" id="seguimento" onclick="requisicao('{{ profile.user.username }}')">Parar de seguir</a>
		{% else %}
			
			<a href="#" id="seguimento" onclick="requisicao('{{ profile.user.username }}')">Seguir</a>
		{% endif %}
	{% endif %}
	</div>

</body>
</html>