{% extends 'core/basesearch.html' %}
{% load aux_tags %}
{% load staticfiles %}
{% block titulo %}Buscar - FixCode{% endblock %}
{% block user %}{{user.first_name}}{% endblock %}
{% block verperfil %}{% url 'core:profile' user.username %}{% endblock %}

{% block menu %}
<li><a href="{% url 'core:register' %}">Cadastre-se!</a></li>
<li><a href="{% url 'core:sobre' %}">Sobre</a></li>
<li><a href="#">Ajuda</a></li>
<li><a href="#">Feedback</a></li>
{% endblock %}

{% block imagemperfil %}
	{% if eu.imagem_perfil %}
		<a href="{% url 'core:profile' user.username %}"><img src="{{ eu.imagem_perfil.url }}" class="navbar-brand img-circle" alt="imgperfil" width="50" height="60"></a>
	{% else %}
		<a href="{% url 'core:profile' user.username %}"><img src="{% static 'core/imagens/default.png' %}" class="navbar-brand img-circle" alt="imgperfil" width="50" height="60"></a>

	{% endif %}
{% endblock %}

{% block bread %}
<li class="active">Busca</li>
{% endblock %}

{% block tit %} <h4>Resultados da busca para: <i>{{ argumento }}</i> - {{ argumento|quantSearchAll }} resultados encontrados:</h4>{% endblock %}
{% block pad %}
	<li role="presentation" class="active" ><a href="{% url 'core:search_fix' argumento %}">Fixies ({{ argumento|quantSearchFix }})</a></li>
	<li role="presentation"><a href="{% url 'core:search_post' argumento %}">Posts ({{ argumento|quantSearchPost }})</a></li>
	<li role="presentation"><a href="{% url 'core:search_user' argumento %}">Usuários ({{ argumento|quantSearchUser }})</a></li>
{% endblock %}

{% block conteudo %}
	{% for fixie in pagina %}
		<div class="panel panel-default">
		<div class="panel-body">
		<div class="media-left media-top">
		    {% if fixie.user|imagemperfil %}
			<img class="thumbnail media-object" src="{{ fixie.user|imagemperfil }}" width="80" height="80">
			{% else %}
			<img class="thumbnail media-object" src="{% static 'core/imagens/default.png' %}" width="80" height="80">
			{% endif %}
		</div>
		<div class="media-body">
		    <h4 class="media-heading"><a class="titulopindex" href="{% url 'core:profile' fixie.user.username %}">{{ fixie.user.first_name }}</a> - <span class="pCinzaUser">{{fixie.user.username}}</span></h4>
		    <small class="pCinza"><span class="glyphicon glyphicon-time"></span> 
		    	{% if fixie.data|subtempo == 0 %}
		  			hoje
		  		{% elif fixie.data|subtempo == 1 %}
		  			ontem
		  		{% else %}
		  			Há {{ fixie.data|subtempo }} dias
		  		{% endif %}
		  		- <span class="glyphicon glyphicon-tags"></span>
		  		{% for tag in fixie.area.all %}
		  			{% if tag == fixie.area.all.last %}
		  				&nbsp;<a class="pCinza" href="{% url 'core:search_area_fix' tag.pk %}">{{ tag }}</a>.
		  			{% else %}
		  				&nbsp;<a class="pCinza" href="{% url 'core:search_area_fix' tag.pk %}">{{ tag }}</a>,
		  			{% endif %}
		  		{% endfor %}
		  		{% if fixie.resolvido %}
		  			&nbsp;- <span class="glyphicon glyphicon-ok"></span>
		  			Resolvido
		  		{% endif %}

		    </small>
		    <h3>{{ fixie.titulo }}</h3>
		    <p>{{ fixie.descricao|safe|truncatechars_html:300 }}</p>

		    	
		    	<a class="btn btn-default col-lg-4" href="{% url 'core:fix_detail' fixie.pk %}">Detalhar</a>
		    
		    	<p class="col-lg-6 comentf">
		    	{% if fixie.pk|quant_coment == 0 %}
		    		<span class="glyphicon glyphicon-comment"></span> Não há nenhum comentário
		    	{% else %}
		    		<span class="glyphicon glyphicon-comment"></span> Há {{ fixie.pk|quant_coment }} comentários neste fixie
		    	{% endif %}
		    	</p>
		    	
		    	
		    
		</div>
		</div>
	</div>
	{% empty %}
		<h4>Não há nenhum fix com essas palavras-chaves</h4>
	{% endfor %}
	<nav aria-label="Page navigation">
	  <ul class="pager">
	    {% if pagina.has_previous %}
	    	<li class="previous"><a href="?page={{ pagina.previous_page_number }}"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
	    {% else %}
	    	<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
	    {% endif %}
	    Página {{ pagina.number }} de {{ pagina.paginator.num_pages }}.
	    {% if pagina.has_next %}
	    	<li class="next"><a href="?page={{ pagina.next_page_number }}">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
	    {% else %}
	    	<li class="next disabled"><a href="#">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
	    {% endif %}
	  </ul>
	</nav>
{% endblock %}