{% extends 'core/basesearch.html' %}
{% load aux_tags %}
{% load staticfiles %}
{% block titulo %}Buscar - FixCode{% endblock %}
{% block user %}{{user.first_name}}{% endblock %}
{% block verperfil %}{% url 'core:profile' user.username %}{% endblock %}

{% block menu %}
<li><a href="{% url 'core:register' %}">Cadastre-se!</a></li>
<li><a href="{% url 'core:sobre' %}">Sobre</a></li>
<li><a href="#">Ajuda</a></li>
<li><a href="#">Feedback</a></li>
{% endblock %}

{% block imagemperfil %}
	{% if eu.imagem_perfil %}
		<a href="{% url 'core:profile' user.username %}"><img src="{{ eu.imagem_perfil.url }}" class="navbar-brand img-circle" alt="imgperfil" width="50" height="60"></a>
	{% else %}
		<a href="{% url 'core:profile' user.username %}"><img src="{% static 'core/imagens/default.png' %}" class="navbar-brand img-circle" alt="imgperfil" width="50" height="60"></a>

	{% endif %}
{% endblock %}

{% block bread %}
<li class="active">Busca</li>
{% endblock %}

{% block tit %} <h4>Resultados da busca para: <i>{{ argumento }}</i> - {{ argumento|quantSearchAll }} resultados encontrados:</h4> {% endblock %}
{% block pad %}
	<li role="presentation"><a href="{% url 'core:search_fix' argumento %}">Fixies ({{ argumento|quantSearchFix }})</a></li>
	<li role="presentation"><a href="{% url 'core:search_post' argumento %}">Posts ({{ argumento|quantSearchPost }})</a></li>
	<li role="presentation" class="active"><a href="{% url 'core:search_user' argumento %}">Usuários ({{ argumento|quantSearchUser }})</a></li>
{% endblock %}

{% block conteudo %}
	{% for pessoa in pagina %}
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 panelsegindex">

			{% if pessoa|imagemperfil %}
				<a href="{% url 'core:profile' pessoa.username %}"><img src="{{ pessoa|imagemperfil }}" class="thumbnail img-responsive" alt="imgperfil"></a>
			{% else %}
				<a href="{% url 'core:profile' pessoa.username %}"><img src="{% static 'core/imagens/default.png' %}" class="thumbnail img-responsive" alt="imgperfil"></a>
			{% endif %}
		    	<h5 class="tsegindex"><a class="titulopindex" href="{% url 'core:profile' pessoa.username %}">{{ pessoa.first_name|truncatechars:15 }}</a></h5>
		    	<span class="pCinzaUser">{{ pessoa.username|truncatechars:15 }}</span>
		    	<a class='btn btn-success btn-xs btn-block' href="{% url 'core:profile' pessoa.username %}">Ver perfil</a>
		</div>
	{% endfor %}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<nav aria-label="Page navigation">
	  <ul class="pager">
	    {% if pagina.has_previous %}
	    	<li class="previous"><a href="?page={{ pagina.previous_page_number }}"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
	    {% else %}
	    	<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
	    {% endif %}
	    Página {{ pagina.number }} de {{ pagina.paginator.num_pages }}.
	    {% if pagina.has_next %}
	    	<li class="next"><a href="?page={{ pagina.next_page_number }}">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
	    {% else %}
	    	<li class="next disabled"><a href="#">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
	    {% endif %}
	  </ul>
	</nav>
	</div>
{% endblock %}