/* uso do pace */
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #7c60e0;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}



/*form de logar*/
input#user, input#senha{
    width:150px;
    height:30px;
}
/*
button#entrar{
    height: 30px;
}*/

/* backgroud da página inicial */
body#login{
	background-image: url("../imagens/codigojs.jpg"); 
}

/*barra de fundo da esquerda da página inicial*/
div#comp-esq{
	background-color: rgba(255,255,255,0.7);
}

/*slider da esquerda da página inicial*/
div#comp-esq-reg{
	background-color: rgba(126,126,126,0.3);
}

/*rodapé do site*/
div#container-rodape{
	background-color: rgba(255,255,255,0.8);
}
/* logo na página de registro */
img#fcreg{
	padding-top: 63px;
}

/*barra de pesquisa da navbar*/
input#pesquisa{
	width:270px;
}

/*botão de salvar em editar perfil*/
button#salvarperfil{
	margin-bottom: 10px;
	margin-left: 180px;
	width: 200px;
}

@media screen and (max-width: 1000px) {
	form#f{
		display: none;
	}
}

/*cor do título painel de configuração*/
div#pcorconfig{
	background-color: purple;
}

/*cor dos paineis laterais do index*/
.pesqindex{
	background-color: #e9e9e9;
}

/*alinhamento do texto no index*/
.titp{
	text-align: center;
}

/*cor de "ver todos" da index*/
.vertodos{
	color: black;
}

/*cor das tags no post do ikndex*/
.pCinza{
	color: #BEBEBE;
}

/*cor do nome do usuário no post do index*/
.pCinzaUser{
	color: #9C9C9C;
}

/*cor do link do firstname dos posts do index*/

.titulopindex{
	color: #000000;
}

.titulopindex:hover{
	transition: 500ms;
}

.comentf{
	margin-top: 6px;
}

.painelpost{	
	box-shadow: 0.3px 0.3px 2.5px green;
}

@media screen and (max-width: 800px) {
	.sai{
		display: none;
	}
}

div#dad{
	margin-top: -17px;
}

.navpad{
	margin-bottom: 10px;
}

/* espaçamento seguidor/seguindo no index*/
.tsegindex{
	margin-top: -10px;
	margin-bottom: 1px;
}

.panelsegindex{
	margin-bottom: 15px;
}

/* espaçamento do link seguindo seguidor no canto esquerdo do index*/

.linkSeguidores{
	margin-bottom: -12px;
}

/* cor dos link segundo e seguidor do canto direito do index*/

.corlisegindex{
	color: #000000;
}

.corliseg:hover{
	color: #000000;
	transition: 500ms;
}

/*Deixar links ativos em qualquer instancias de "My"*/

.ativo{
	background-color: #dbdbdb;
}

.not{
	color: red;
}

/*Para lista de areas em criação de fix e post*/
.listaArea{
	list-style-type: none;
	margin-left: -45px;
}

.liDeArea{
	float: left;
	margin: 4px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #dbdbdb;
	border-radius: 5px;
}

label#lbPost{
	background-color: #BEBEBE;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.best_answer{
	text-align: center;
	margin-bottom: -20px;
}